@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@500&display=swap');

:root{
    --cor1: hsl(4, 100%, 67%);
    --cor2:  hsl(234, 29%, 20%);
    --cor3: hsl(235, 18%, 26%);
    --cor4: hsl(231, 7%, 60%);
    --cor5: hsl(0, 0%, 100%);
    --font: 'Roboto', sans-serif;
}



body, html{
    overflow-x: hidden;
    background-color: var(--cor2);
    font-family: var(--font)
}

main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#all{ 
    display: flex;
    background-color: var(--cor5);
    width: 1000px;
    height: 630px;
    border-radius: 20px;
}

#all > #content{
    padding: 30px;
}

#content > h1{
    font-size: 3.2em;
    margin: 30px;
}

#p1{
    font-size: 20px;
    margin: 30px;
}

#otherp{
    font-size: 18px;
    margin: 30px;
}

#emailbutton{
    margin: 30px;
    padding: 5px;
}

input{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 430px;
    height: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--cor4);
}

 input:hover{
    border-color: hsl(240, 10%, 13%);
    transition: 0.3s;
}

button{
    font-size: 16px;
    width: 437px;
    height: 55px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--cor2);
    color: var(--cor5);
}

button:hover{
    background-color: var(--cor1);
    transition: 0.3s;
    cursor: pointer;
}

#image{
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    width: 485px;
    height: 595px;
    margin: 15px;
}

#thanks{
    display: none;
    width: 440px;
    height: 490px;
    background-color: var(--cor5);
    border-radius: 10px;
    padding: 30px;
}

#thanks > #imgsucess{
    margin: 30px;
}

#conthanks{
    margin: 30px;
    padding: 10px;
}

#thanks > button{
    margin: auto;
    width: 340px;
}

@media (max-width: 600px){
    #all{
        display: block;
        width: 375px;
        height: 800px;
        
    }

    #image{
       display: none;
    }

    #mobileimg{
        background-image: url(./assets/images/illustration-sign-up-mobile.svg);
        width: 375px;
        height: 283px;
        margin: auto;
    }

    #all > #content{
        padding: 0px;
    }

    #content > h1{
        font-size: 2em;
    }

    #content > #p1{
        font-size: 1.2em;
    }

    #content > #otherp{
        font-size: 1em;
    }

    #emailbutton{
        margin: 18px;
        padding: 0px;
    }

    #emailbutton > input{
        width: 330px;
    }

    #emailbutton > button{
        width: 330px;
    }

    input{
        width: 325px;
    }

    button{
        width: 325px;
    }
    
    #thanks{
        width: 360px;
    }

    #thanks > button{
        margin-left: 10px;
    }
}