@charset "UTF-8";


:root{
    --cor1: hsl(4, 100%, 67%);
    --cor2:  hsl(234, 29%, 20%);
    --cor3: hsl(235, 18%, 26%);
    --cor4: hsl(231, 7%, 60%);
    --cor5: hsl(0, 0%, 100%);
}



body, html{
    overflow-x: hidden;
    background-color: var(--cor2);
}

main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#all{
    display: flex;
    background-color: var(--cor5);
    width: 1000px;
    height: 650px;
    border-radius: 20px;
}

#all > #content{
    padding: 30px;
}

#image{
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    width: 410px;
    height: 595px;
    margin: 15px;
}